@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #06080f;
  color: #e2e8f0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0d14;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}

::selection {
  background-color: #f97316;
  color: #06080f;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
